<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.stub.html" }}
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/home.css"/>
</head>

<body>

<!-- navigation -->
{{ template "navbar.stub.html" }}
<div class="navbar-pad"></div>
<!-- navigation -->

<!-- main section -->
<!-- beg: login-form -->
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col col-lg-4">
            <div id="login-form" class="row row-pad">
                <br>
                <legend>Login</legend>
                <hr>
                <form action="/login" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="email" class="form-control" name="username" id="username" aria-describedby="username-help">
                        <div id="username-help" class="form-text">Please login using your email address</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" aria-describedby="password-help">
                        <div id="password-help" class="form-text">Password must have at least 6 characters</div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-success me-md-2">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end: login-form -->
<!-- main section -->

<!-- scripts -->
{{ template "scripts.stub.html" }}
<!-- scripts -->

</body>

<!-- footer -->
{{ template "footer.stub.html" }}
<!-- footer -->

</html>