<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.stub.html" }}
    <title>PAGE TITLE</title>
    <link rel="stylesheet" href="/static/css/home.css"/>
</head>

<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="#home">
                {{ template "brand.stub.html" }}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                {{ if .authenticated }}
                <li><a href="/secure/account">Dashboard</a></li>
                {{ else }}
                <li><a href="/login">Login</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
<!-- navigation -->

<!-- slider -->
<section class="slider-wrapper">
    <div id="home-slider" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner main-slider main-color">
            <!-- carousel page 1 -->
            <div class="item active" id="carousel-page-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="first-child animated slideInDown delay-2" style="font-weight:400;">
                                {{ if .Slide.Slide }}
                                {{ .Slide.Title }}
                                {{ else }}
                                {{ "Digital Envelope Printing Made Easy!" }}
                                {{ end }}
                            </h1>
                            <p class="animated slideInLeft delay-4">
                                <strong>
                                    {{ if .Slide }}
                                    {{ .Slide.Body }}
                                    {{ else }}
                                    Zoom Envelopes is a cloud based print ordering service for the trade only. It
                                    has been specifically designed with the print buyer in mind, providing convenient
                                    and easy access to the service anytime, anywhere!
                                    {{ end }}
                                </strong>
                            </p>
                            <a href="/register" class="btn btn-lg btn-purchase animated fadeInUpBig delay-5">
                                Create an Account
                            </a>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <p class="text-center animated fadeInLeft delay-1">
                                <i class="fa fa-20x ${(slide?? && slide.slideOneIcon)?string((slide.slideOneIcon)!,'fa-envelope-o')}"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- carousel page 1 -->
            <!-- carousel page 2 -->
            <div class="item" id="carousel-page-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="first-child animated slideInUp delay-2" style="font-weight:400;">
                                Meet Quick Turnaround Deadlines Hassle Free.
                            </h1>
                            <p class="animated slideInUp delay-4">
                                <strong>
                                    We provide a dependable platform that enables you to meet your customers
                                    digital envelope printing needs, swiftly and hassle-free, anytime,
                                    anywhere, on any device!
                                </strong>
                            </p>
                            <a href="#about" class="btn btn-lg btn-purchase animated fadeInUpBig delay-5">
                                Learn More
                            </a>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <span class="text-center animated fadeInLeft delay-1" style="color:#fff;">
                                <i class="fa fa-18x fa-laptop"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<i class="fa fa-12x fa-tablet"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<i class="fa fa-6x fa-mobile"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- carousel page 2 -->
        </div>
    </div>
</section>
<!-- slider -->

<!-- more about -->
<section id="more-about" class="container main-items wow fadeIn">
    <div class="row wow fadeInUp">
        <div class="col-sm-3 features-item">
            <i class="fa fa-users fa-4x"></i>
            <h4>
                Print Buyers
            </h4>
            <p>
                Zoom Envelopes is a print ordering service that provides a solution for printing of envelopes
                and letterhead products...<br/>fast, easy and affordable.
            </p>
        </div>
        <div class="col-sm-3 features-item">
            <i class="fa fa-list-ol fa-4x"></i>
            <h4>
                Flexible Options
            </h4>
            <p>
                With plenty of stock choices, 2 sided printing and bleeds, variable data, and shipping options,
                you will look like a hero to your customers.
            </p>
        </div>
        <div class="col-sm-3 features-item">
            <i class="fa fa-paypal fa-4x"></i>
            <h4>
                Secure Payments
            </h4>
            <p>
                We utilize PayPal's merchant services to ensure checkout is secure and easy.
                You can even save your card in a secure vault for easy 1 click checkout.
            </p>
        </div>
        <div class="col-sm-3 features-item">
            <i class="fa fa-check-square-o fa-4x"></i>
            <h4>
                Where do I start?
            </h4>
            <p>
                First, <a href="/register" class="text-primary">create an account.</a> Then login and choose
                an item. Next, select quantity, printing, and shipping options. Finally, upload your artwork
                and pay.
            </p>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <h4 class="lead">
                <strong>Want To See How Zoom Envelopes Works?</strong>
            </h4>
            <a href="/videos">
                <i class="fa fa-play-circle fa-5x"></i><br/>
                <strong class="text-primary">Video Overview</strong>
            </a>
        </div>
    </div>
</section>
<!-- more about -->

<br/><br/><br/>

<!-- mission -->
<section id="mission">
    <div class="container">
        <div class="row white-font-color content-title-center wow fadeInUp">
            <h2>
                <span class="dark-mask">
                    <strong>Our Mission</strong>
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 wow fadeInUp">
                <p class="lead text-center">
                    <span class="dark-mask">
                        <i class="fa fa-quote-left"></i>
						    <strong>
							    To simplify print buying of envelopes and letterhead
							    products, with integrity, and excellence.
                            </strong>
                        <i class="fa fa-quote-right"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- mission -->

<!-- contact -->
<section id="contact" class="wow fadeIn">
    <div class="container">

        <div class="row">
            <div class="col-md-4"><h2>CONTACT US</h2></div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <p>
                    <small>
                        We’d love to hear from you. If you have any feedback, comments or just want to ask a few
                        questions, don't hesitate to send us a message. A Zoom Envelope representative will be
                        in contact with you within a business day.
                    </small>
                </p>
                <hr/>
                <p>
                    30 S. Jacob Street
                </p>
                <p>
                    Mount Joy, PA 17552
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12" id="social-links-contact">
                    <ul class="list-inline">
                        <li class="wow fadeIn animated animated" data-wow-delay="0.3s">
                            <a href="https://linkedin.com/company/zoom-envelopes" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn animated animated" data-wow-delay="0.3s">
                            <a href="https://plus.google.com/+Zoomenvelopes1" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="wow fadeIn animated animated" data-wow-delay="0.3s">
                            <a href="https://twitter.com/zoomenvelopes" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <form id="contact-form" method="post" action="/contact" id="contact-form" class="form-horizontal"
                  role="form"
                  novalidate="novalidate">
                <div class="form-group">
                    <span class="text-error">${(errors.senderName)!}</span>
                    <label for="name" class="col-12  col-lg-2  control-label">Name:</label>
                    <div class="col-12  col-lg-10">
                        <input type="text" class="form-control" name="senderName" id="name"
                               value="${(contact.senderName)!}">
                    </div>
                </div>
                <div class="form-group">
                    <span class="text-error">${(errors.senderEmail)!}</span>
                    <label for="email" class="col-12  col-lg-2  control-label">Email:</label>
                    <div class="col-12 col-lg-10">
                        <input type="email" class="form-control" name="senderEmail" id="email"
                               value="${(contact.senderEmail)!}">
                    </div>
                </div>
                <div class="form-group">
                    <span class="text-error">${(errors.senderBody)!}</span>
                    <label for="message" class="col-12  col-lg-2  control-label">Message:</label>
                    <div class="col-12  col-lg-10">
                        <textarea style="resize:none;" class="form-control" rows="5" name="senderBody" id="message">${(contact.senderBody)!}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="col-12  col-lg-2">&nbsp;</div>
                    <div class="col-12  col-lg-10">
                        <button type="submit" class="btn btn-primary pull-right">
                            GET IN TOUCH
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- contact -->

<!-- scripts -->
{{ template "scripts.stub.html" }}
<!-- scripts -->

</body>

<!-- footer -->
{{ template "footer.stub.html" }}
<!-- footer -->

</html>