<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header.stub.html" }}
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/home.css"/>
</head>

<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<!-- navigation -->
{{ template "navbar.stub.html" }}
<div class="navbar-pad"></div>
<!-- navigation -->

<!-- main section -->
<section class="container">
    <h2>Login</h2>
    <p>This is the login page</p>
</section>
<!-- main section -->

<!-- scripts -->
{{ template "scripts.stub.html" }}
<!-- scripts -->

</body>

<!-- footer -->
{{ template "footer.stub.html" }}
<!-- footer -->

</html>